<div class="fullscreen">

  <!-- navbar -->
  <div class="navBar">

    <div class="navBarLeft" style="width:20%;">


      <div style="display: flex;justify-content: left; width: 100%; cursor: pointer;">
        <mat-icon style="margin-left: 10%;">close</mat-icon>
      </div>

      <div style="display: flex;justify-content: center;width: 100%;">
        <div
          style="background-color: gray; color: white;padding: 10px 14px ; border-radius: 8rem; margin-right: 10px; cursor: pointer;">
          <i style="font-size: 20px;" class="fa fa-filter" aria-hidden="true"></i>
        </div>

        <div style="background-color: gray; color: white;padding: 7px 10px ; border-radius: 8rem; cursor: pointer;">
          <mat-icon> bar_chart</mat-icon>
        </div>


      </div>

    </div>




    <div style="width:60%; display: flex;justify-content: center;">



      <!-- #5 -->

      <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <svg version="1.1" style="font-family: Roboto; font-size: 12px;" xmlns="http://www.w3.org/2000/svg" width="200"
          height="200" viewBox="0 0 200 200" aria-hidden="false" aria-label="Interactive chart">

          <g data-z-index="2" opacity="1" transform="translate(10,47) scale(1 1)" aria-hidden="true"
            style="cursor: pointer;">
            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-4" data-z-index="1" y="5"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                7,279
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="20" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                81
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-4" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                فوج
              </text></g>
          </g>

          <g data-z-index="3" aria-hidden="false">
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)"
              clip-path="url(#highcharts-ez6pvq6-135-)" style="cursor: pointer;" aria-hidden="false">
              <path fill="#ff7473"
                d="M 90 3.3119999999999976 A 65.688 65.688 0 1 1 89.93431201094796 3.312032843997258 M 89.94838800860197 17.388025805997856 A 51.611999999999995 51.611999999999995 0 1 0 90 17.388000000000005"
                sweep-flag="0" stroke-linecap="round" stroke-linejoin="round" tabindex="-1" role="img" aria-label="1."
                style="outline: none;"></path>
            </g>
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)" clip-path="none"
              aria-hidden="true"></g>
          </g>

        </svg>


        المستهدف
      </div>





      <!-- #4 -->
      <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <svg *ngIf="action1 == true" version="1.1" style="font-family: Roboto; font-size: 12px;"
          xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" aria-hidden="false"
          aria-label="Interactive chart">

          <g data-z-index="2" opacity="1" transform="translate(10,47) scale(1 1)" aria-hidden="true"
            style="cursor: pointer;">
            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-4" data-z-index="1" y="5"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                100
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="20" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                1
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-4" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                فوج
              </text></g>
          </g>
          <g data-z-index="3" aria-hidden="false">
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)"
              clip-path="url(#highcharts-ez6pvq6-127-)" style="cursor: pointer;" aria-hidden="false">
              <path fill="#ff8452"
                d="M 90 3.3119999999999976 A 65.688 65.688 0 0 1 102.24417316398393 4.463238634632617 A 7.038000000000004 7.038000000000004 0 1 1 99.62042177170166 18.29254464149706 A 51.611999999999995 51.611999999999995 0 0 0 90 17.388000000000005 A 7.038000000000004 7.038000000000004 0 1 1 90 3.3119999999999976"
                sweep-flag="0" stroke-linecap="round" stroke-linejoin="round" tabindex="-1" role="img"
                aria-label="0.03." style="outline: none;"></path>
            </g>
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)" clip-path="none"
              aria-hidden="true">
            </g>
          </g>

        </svg>




        <svg *ngIf="action1 == false" version="1.1" style="font-family: Roboto; font-size: 12px;"
          xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" aria-hidden="false"
          aria-label="Interactive chart">

          <g data-z-index="2" opacity="1" transform="translate(10,47) scale(1 1)" aria-hidden="true"
            style="cursor: pointer;">
            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-1" data-z-index="1" y="5"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                0
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="20" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                0
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-4" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                فوج
              </text></g>
          </g>
          <g data-z-index="3" aria-hidden="false">
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)"
              clip-path="url(#highcharts-ez6pvq6-154-)" style="cursor: pointer;" aria-hidden="false">
              <path fill="white"
                d="M 90 3.3119999999999976 A 65.688 65.688 0 0 1 89.934312010948 3.312032843997258 A 7.038000000000004 7.038000000000004 0 1 1 89.94838800860201 17.388025805997856 A 51.611999999999995 51.611999999999995 0 0 0 90 17.388000000000005 A 7.038000000000004 7.038000000000004 0 1 1 90 3.3119999999999976"
                sweep-flag="0" stroke-linecap="round" stroke-linejoin="round" tabindex="-1" role="img" aria-label="0."
                style="outline: none;"></path>
            </g>
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)" clip-path="none"
              aria-hidden="true"></g>
          </g>

        </svg>








        الإجمالي الكلي
      </div>




      <!-- #3 -->
      <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <svg *ngIf="action3 == true" version="1.1" style="font-family: Roboto; font-size: 12px;"
          xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" aria-hidden="false"
          aria-label="Interactive chart">

          <g data-z-index="2" opacity="1" transform="translate(10,47) scale(1 1)" aria-hidden="true"
            style="cursor: pointer;">

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-4" data-z-index="1" y="5"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                100
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="20" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                1
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-4" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                فوج
              </text></g>

          </g>
          <g data-z-index="3" aria-hidden="false">
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)"
              clip-path="url(#highcharts-ez6pvq6-123-)" style="cursor: pointer;" aria-hidden="false">
              <path fill="#efcd35"
                d="M 90 3.3119999999999976 A 65.688 65.688 0 0 1 102.24417316398393 4.463238634632617 A 7.038000000000004 7.038000000000004 0 1 1 99.62042177170166 18.29254464149706 A 51.611999999999995 51.611999999999995 0 0 0 90 17.388000000000005 A 7.038000000000004 7.038000000000004 0 1 1 90 3.3119999999999976"
                sweep-flag="0" stroke-linecap="round" stroke-linejoin="round" tabindex="-1" role="img"
                aria-label="0.03." style="outline: none;"></path>
            </g>
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)" clip-path="none"
              aria-hidden="true"></g>
          </g>


        </svg>


        <svg *ngIf="action3 == false" version="1.1" style="font-family: Roboto; font-size: 12px;"
          xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" aria-hidden="false"
          aria-label="Interactive chart">

          <g data-z-index="2" opacity="1" transform="translate(10,47) scale(1 1)" aria-hidden="true"
            style="cursor: pointer;">
            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-1" data-z-index="1" y="5"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                0
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="20" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                0
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-4" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                فوج
              </text></g>
          </g>
          <g data-z-index="3" aria-hidden="false">
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)"
              clip-path="url(#highcharts-ez6pvq6-154-)" style="cursor: pointer;" aria-hidden="false">
              <path fill="white"
                d="M 90 3.3119999999999976 A 65.688 65.688 0 0 1 89.934312010948 3.312032843997258 A 7.038000000000004 7.038000000000004 0 1 1 89.94838800860201 17.388025805997856 A 51.611999999999995 51.611999999999995 0 0 0 90 17.388000000000005 A 7.038000000000004 7.038000000000004 0 1 1 90 3.3119999999999976"
                sweep-flag="0" stroke-linecap="round" stroke-linejoin="round" tabindex="-1" role="img" aria-label="0."
                style="outline: none;"></path>
            </g>
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)" clip-path="none"
              aria-hidden="true"></g>
          </g>

        </svg>


        إحصائية الوصول

      </div>




      <!-- #2 -->
      <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <svg *ngIf="action2 == true" version="1.1" style="font-family: Roboto; font-size: 12px;"
          xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" aria-hidden="false"
          aria-label="Interactive chart">
          <g data-z-index="2" opacity="1" transform="translate(10,47) scale(1 1)" aria-hidden="true"
            style="cursor: pointer;">

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-4" data-z-index="1" y="5"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                100
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="20" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                1
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-4" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                فوج
              </text></g>



          </g>
          <g data-z-index="3" aria-hidden="false">
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)"
              clip-path="url(#highcharts-ez6pvq6-119-)" style="cursor: pointer;" aria-hidden="false">
              <path fill="#3cccd7"
                d="M 90 3.3119999999999976 A 65.688 65.688 0 0 1 102.24417316398393 4.463238634632617 A 7.038000000000004 7.038000000000004 0 1 1 99.62042177170166 18.29254464149706 A 51.611999999999995 51.611999999999995 0 0 0 90 17.388000000000005 A 7.038000000000004 7.038000000000004 0 1 1 90 3.3119999999999976"
                sweep-flag="0" stroke-linecap="round" stroke-linejoin="round" tabindex="-1" role="img"
                aria-label="0.03." style="outline: none;"></path>
            </g>
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)" clip-path="none"
              aria-hidden="true"></g>
          </g>

        </svg>

        <svg *ngIf="action2 == false" version="1.1" style="font-family: Roboto; font-size: 12px;"
          xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" aria-hidden="false"
          aria-label="Interactive chart">

          <g data-z-index="2" opacity="1" transform="translate(10,47) scale(1 1)" aria-hidden="true"
            style="cursor: pointer;">
            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-1" data-z-index="1" y="5"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                0
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="20" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                0
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-4" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                فوج
              </text></g>
          </g>
          <g data-z-index="3" aria-hidden="false">
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)"
              clip-path="url(#highcharts-ez6pvq6-154-)" style="cursor: pointer;" aria-hidden="false">
              <path fill="white"
                d="M 90 3.3119999999999976 A 65.688 65.688 0 0 1 89.934312010948 3.312032843997258 A 7.038000000000004 7.038000000000004 0 1 1 89.94838800860201 17.388025805997856 A 51.611999999999995 51.611999999999995 0 0 0 90 17.388000000000005 A 7.038000000000004 7.038000000000004 0 1 1 90 3.3119999999999976"
                sweep-flag="0" stroke-linecap="round" stroke-linejoin="round" tabindex="-1" role="img" aria-label="0."
                style="outline: none;"></path>
            </g>
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)" clip-path="none"
              aria-hidden="true"></g>
          </g>

        </svg>

        إحصائية الخروج
      </div>



      <!-- #1 -->
      <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <svg *ngIf="action4 == true" version="1.1" style="font-family: Roboto; font-size: 12px;" xmlns="http://www.w3.org/2000/svg" width="200"
          height="200" viewBox="0 0 200 200" aria-hidden="false" aria-label="Interactive chart">

          <g data-z-index="2" opacity="1" transform="translate(10,47) scale(1 1)" aria-hidden="true"
            style="cursor: pointer;">
            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-4" data-z-index="1" y="5"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                7,179
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="20" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                80
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-4" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                فوج
              </text></g>

          </g>
          <g data-z-index="3" aria-hidden="false">
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)"
              clip-path="url(#highcharts-ez6pvq6-103-)" style="cursor: pointer;" aria-hidden="false">
              <path fill="#beadfe"
                d="M 90 3.3119999999999976 A 65.688 65.688 0 1 1 69.6388288328215 6.547329499044963 A 7.038000000000004 7.038000000000004 0 1 1 74.00193694007405 19.930044606392478 A 51.611999999999995 51.611999999999995 0 1 0 90 17.388000000000005 A 7.038000000000004 7.038000000000004 0 1 1 90 3.3119999999999976"
                sweep-flag="0" stroke-linecap="round" stroke-linejoin="round" tabindex="-1" role="img"
                aria-label="0.95." style="outline: none;"></path>
            </g>
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)" clip-path="none"
              aria-hidden="true"></g>
          </g>


        </svg>




        <svg *ngIf="action4 == false"  version="1.1" style="font-family: Roboto; font-size: 12px;" xmlns="http://www.w3.org/2000/svg" width="200"
          height="200" viewBox="0 0 200 200" aria-hidden="false" aria-label="Interactive chart">

          <g data-z-index="2" opacity="1" transform="translate(10,47) scale(1 1)" aria-hidden="true"
            style="cursor: pointer;">
            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-4" data-z-index="1" y="5"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                7,279
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="20" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                81
              </text></g>

            <g data-z-index="1" transform="translate(73,58)" style="cursor: pointer;"><text
                font-family='Roboto-Regular,Roboto' x="-4" data-z-index="1" y="26"
                style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold; fill: #fff;">
                فوج
              </text></g>
          </g>
          <g data-z-index="3" aria-hidden="false">
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)"
              clip-path="url(#highcharts-ez6pvq6-162-)" style="cursor: pointer;" aria-hidden="false">
              <path fill="#beadfe"
                d="M 90 3.3119999999999976 A 65.688 65.688 0 1 1 89.93431201094796 3.312032843997258 M 89.94838800860197 17.388025805997856 A 51.611999999999995 51.611999999999995 0 1 0 90 17.388000000000005"
                sweep-flag="0" stroke-linecap="round" stroke-linejoin="round" tabindex="-1" role="img" aria-label="1."
                style="outline: none;"></path>
            </g>
            <g data-z-index="0.1" opacity="1" transform="translate(10,47) scale(1 1)" clip-path="none"
              aria-hidden="true"></g>
          </g>

        </svg>









        المتبقي
      </div>





























    </div>




    <div class="navBarRight" style="width:20%;">

      <div style="display: flex;  width: 100%;align-items: center;justify-content: center; font-size: 20px;">


        <div style="display: flex;
         flex-direction: column;
          align-items: center;
          justify-content: center;
          ">
          <p style="margin: 0;color: #8b8b8b;"> تفاصيل العملية</p>
          <p style="margin: 0;">منى إلى عرفات </p>
        </div>

        <div style="display: flex; margin-left: 12px;
        flex-direction: column;
         align-items: center;
         justify-content: center;
         background-color: #354153;
        padding: 25px 8px;
        border-radius: 2rem;
         ">
          <p>11</p>
          <p>ذي الحجة</p>
        </div>
      </div>


    </div>






  </div>

  <div class="card-section" dir="rtl">


    <div class="card-col-section">
      <ul>
        <li style="color:rgb(190, 173, 254);">
          <span style="color: white;">أفواج متبقية</span>
        </li>
      </ul>

      <table style="width: 100%;">
        <tr>
          <th>الفوج</th>
          <th>الخروج</th>
          <th>الوصول</th>
        </tr>

        <ng-container *ngIf="arrayList.length !== 0">

          <tr *ngFor="let item of arrayList">
            <td>{{item.title}}</td>
            <td>{{item.departure}}</td>
            <td>{{item.arrival}}</td>
          </tr>
        </ng-container>
      </table>

      <p style="color: #c0c0c0; text-align: center; margin-top: 15px;" *ngIf="arrayList.length == 0">لا يوجد أفواج
        ليتم
        عرضهم</p>
    </div>



    <div class="card-col-section">
      <ul>
        <li style="color:rgb(60, 204, 215);">
          <span style="color: white;">أفواج متبقية</span>
        </li>
      </ul>

      <table style="width: 100%;">
        <tr>
          <th>الفوج</th>
          <th>المجدول</th>
          <th>المتحقق</th>
        </tr>

        <ng-container *ngIf="arrayList2.length !== 0">
          <tr *ngFor="let item of arrayList2">
            <td>{{item.title}}</td>
            <td>{{item.departure}}</td>
            <td>{{item.arrival}}</td>
          </tr>
        </ng-container>


      </table>
      <p style="color: #c0c0c0; text-align: center; margin-top: 15px;" *ngIf="arrayList2.length == 0">لا يوجد أفواج
        ليتم
        عرضهم</p>

    </div>


    <div class="card-col-section">
      <ul>
        <li style="color:rgb(239, 205, 53);">
          <span style="color: white;">أفواج متبقية</span>
        </li>
      </ul>

      <table style="width: 100%;">
        <tr>
          <th>الفوج</th>
          <th>المجدول</th>
          <th>المتحقق</th>
        </tr>


        <ng-container *ngIf="arrayList3.length !== 0">
          <tr *ngFor="let item of arrayList3">
            <td>{{item.title}}</td>
            <td>{{item.departure}}</td>
            <td>{{item.arrival}}</td>
          </tr>
        </ng-container>



      </table>

      <p style="color: #c0c0c0; text-align: center;margin-top: 15px;" *ngIf="arrayList3.length == 0">لا يوجد أفواج
        ليتم
        عرضهم</p>




    </div>


  </div>

</div>
