<div class="fullscreen">

  <!-- navbar -->
  <div class="navBar">

    <div class="navBarLeft">
      <p><span style="font-size: 20px; margin-right: 5px;">&#8592;</span>
        الدخول إلى البوابة</p>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">الوضع الداكن</label>
      </div>

      <mat-icon style="margin-top: 3px;margin-left: 10px;">expand_more</mat-icon>

      <p style="margin: 0;">
        الإعدادات
      </p>


    </div>


    <div class="navBarRight">
      <p>وزارة الحج و العمرة</p>|<p> البيانات التفويجية للتشغيل</p>

    </div>






  </div>

  <div class="card-section">





    <!-- card-left -->
    <div class="card-left-section">

      <div class="page" style="overflow: hidden;">
        <ngx-graph [links]="links" [nodes]="nodes" [clusters]="clusters" [layout]="layout" [curve]="curve"
          [draggingEnabled]="draggingEnabled" [panningEnabled]="panningEnabled" [enableZoom]="zoomEnabled"
          [panOnZoom]="panOnZoom" [autoZoom]="autoZoom" [autoCenter]="autoCenter" [update$]="update$"
          [center$]="center$" [view]="[1000, 1200]" style="cursor: pointer;">

          <ng-template #defsTemplate>
            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="30" refY="0" markerWidth="6" markerHeight="6"
              orient="auto">
              <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
            </svg:marker>
          </ng-template>

          <ng-template #clusterTemplate let-cluster>
            <svg:g class="node cluster">

            </svg:g>
          </ng-template>
          <!-- node.dimension.height -->
          <!-- node.dimension.width -->
          <ng-template #nodeTemplate let-node>
            <svg:g class="node hoverTouch">
              <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
                [attr.fill]="'#445564'" class="hoverTouch" [matMenuTriggerFor]="menu" />
              <svg:text alignment-baseline="central" [attr.x]="23" [attr.y]="40" fill="#FFF" [matMenuTriggerFor]="menu">
                {{node.count}}
              </svg:text>

              <svg:text alignment-baseline="central" [attr.x]="-60" [attr.y]="60" fill="#FFF"
                [matMenuTriggerFor]="menu">
                {{node.code}}
              </svg:text>

              <svg:text alignment-baseline="central" [attr.x]="-80" [attr.y]="80" fill="#FFF"
                [matMenuTriggerFor]="menu">
                {{node.label}}
              </svg:text>
            </svg:g>

          </ng-template>

          <ng-template #linkTemplate let-link>
            <svg:g class="edge" x1="0" y1="80" x2="100" y2="20">
              <svg:path class="line" stroke-width="2" stroke="gray" marker-end="url(#arrow)">
              </svg:path>
              <svg:text class="edge-label" text-anchor="middle">
                <textPath class="text-path" [attr.href]="'#' + link.id" fill="#FFF"
                  [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                  {{link.label}}
                </textPath>
              </svg:text>
            </svg:g>
          </ng-template>




        </ngx-graph>
      </div>

    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item data-toggle="modal" data-target=".bd-example-modal-lg">ARFMUZ</button>
      <button mat-menu-item data-toggle="modal" data-target=".bd-example-modal-lg">MINARF</button>
    </mat-menu>



    <!-- card-right -->
    <div class="card-right-section">
      <div class="information-Date" style="margin-bottom: 20%;">


        <div
          style="display: flex; flex-direction: column;width: 40%;align-items: center;justify-content: center; font-size: 20px;">
          <p>ذي الحجة</p>
          <p>07:38 - 07:33</p>

        </div>

        <div
          style="display: flex; flex-direction: column;width: 20%;align-items: center;justify-content: center; font-size: 100px;">
          <p>11</p>
        </div>

      </div>


      <table style="width: 80%; ">
        <tr>
          <td style="width:10%;">3%</td>
          <td style="width:50%;" dir="rtl">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 3%;background-color:#38cddd;" aria-valuenow="3"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td style="width:20%;text-align: right;">حجاج الداخل</td>

        </tr>




        <tr>
          <td style="width:10%;">0%</td>
          <td style="width:50%;" dir="rtl">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 0%;background-color:#38cddd;" aria-valuenow="3"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td style="width:20%;text-align: right;">نقاط التجمع</td>

        </tr>


        <tr>
          <td style="width:10%;">20%</td>
          <td style="width:50%;" dir="rtl">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 20%;background-color:#38cddd;"
                aria-valuenow="3" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td style="width:20%;text-align: right;">المسجد الحرام</td>

        </tr>


        <tr>
          <td style="width:10%;">1%</td>
          <td style="width:50%;" dir="rtl">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 1%;background-color:#38cddd;" aria-valuenow="3"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td style="width:20%;text-align: right;"> محطة الجمرات</td>

        </tr>

        <tr>
          <td style="width:10%;">2%</td>
          <td style="width:50%;" dir="rtl">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 2%;background-color:#38cddd;" aria-valuenow="3"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td style="width:20%;text-align: right;">مخيمات منى</td>

        </tr>

        <tr>
          <td style="width:10%;">74%</td>
          <td style="width:50%;" dir="rtl">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 74%;background-color:#38cddd;"
                aria-valuenow="3" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td style="width:20%;text-align: right;">مشعر عرفات</td>

        </tr>

        <tr>
          <td style="width:10%;">0%</td>
          <td style="width:50%;" dir="rtl">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 0%;color: #38cddd;" aria-valuenow="3"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td style="width:20%;text-align: right;">مشعر مزدلفة</td>

        </tr>

      </table>



      <div class="information-Date2">


        <div style="display: flex;  width: 40%;align-items: center;justify-content: center; font-size: 20px;">


          <div style="display: flex; flex-direction: column;  align-items: center;justify-content: center;">
            <p>عدد الجاج</p>
            <p>58,571</p>
          </div>

          <div
            style="display: flex; flex-direction: column;  align-items: center;justify-content: center; padding-bottom: 25px;">
            <mat-icon style="font-size: 50px;">person_outline</mat-icon>
          </div>
        </div>



      </div>



    </div>

  </div>

</div>








<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <app-challenge-modal></app-challenge-modal>

    </div>
  </div>
</div>
